# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Jupyter Notebook
.ipynb_checkpoints

# Ignore everything in data folder except specific subdirectories
datasets/*
!datasets/download_flickr30k.sh
!datasets/readme.txt

gallery/*
!gallery/readme.txt

# Ignore .pth files in deployment folder
deployment/*.pth

# Ignore faiss index files in gallery folder
gallery/*.faiss

# VS Code
.vscode/

# Cache files
.cache/


#-------NOSTRO--------------
# === Python ===
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
 
# === Virtualenv ===
venv/
ENV/
env/
.venv/
 
# === VS Code ===
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
 
# === OS generici ===
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
 
# === Jupyter Notebook ===
*.ipynb
 
# === Logs e database ===
*.log
*.sqlite
*.db
 
# === File di ambiente (env, dotenv) ===
.env
.venv
env/
venv/
*.env

COCO
flickr30k_images
Train_cropped
checkpoint*
datasets
old_csv
*.zip
NEW_DATASET/Train
NEW_DATASET/Test
NEW_DATASET/Validation
TURTLE_OTHER
*.err
*.out
*.pth
TOKEN.py